<div class="box">
  <table class="table">
    <thead>
      <tr>
        <th>Num</th>
        <th>Name</th>
        <th>Address</th>
        <th>Status</th>
        <th>Action</th>

      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of members; let i =index">
        <th>{{i+1}}</th>
        <td>{{item.name}}
        </td>
        <td>{{item.address}}
        </td>
        <td *ngIf="item.isActive" class="has-text-success">Active
        </td>
        <td *ngIf="!item.isActive" class="has-text-danger">InActive
        </td>
        <td>
          <button (click)="changeStaus(item.isActive,item.address,i)" class="button is-info is-fullwidth is-outlined">
            <span *ngIf="!item.isActive">activate</span>
            <span *ngIf="item.isActive">Deactivate</span>
          </button>

        </td>


      </tr>

    </tbody>
  </table>
</div>
