<div class="box">
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="e.g Alex Smith" formControlName="name">
      </div>
    </div>

    <div class="field">
      <label class="label">Address</label>
      <div class="control">
        <input class="input" type="text" placeholder="e.g. 0x54sdfc541sdcsdf" formControlName="contractAddress">
      </div>
    </div>
    <button type="submit" [disabled]="form.invalid" class="button is-info is-fullwidth">
      <span class="icon">
        <i class="fa fa-save"></i>
      </span>
      <span>Submit</span>
    </button>
  </form>
</div>
