<div class="box">
  <table class="table">
    <thead>
      <tr>
        <th>Num</th>
        <th>Name</th>
        <th>Address</th>
        <th> </th>
        <th> </th>


      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of members; let i =index">
        <th>{{i+1}}</th>
        <td>{{item.name}}
        </td>
        <td>{{item.address}}
        </td>

        <td>
          <div class="field has-addons">
            <div class="control ">
              <input class="input " style="width: 60px;" [(ngModel)]="donateValue" type="text" placeholder="0 wei">
            </div>
            <div class="control">
              <a class="button is-info" (click)="onDonate(item.address)">
                Donate
              </a>
            </div>
          </div>

        </td>
        <td>
          <button (click)="onViewTweet(item.address)" class="button is-success is-fullwidth is-outlined">
            <span>View Tweets</span>
          </button>

        </td>


      </tr>

    </tbody>
  </table>
</div>
